@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
    --bg-color: #121212;        /* Fundo principal */
    --bg-secondary: #1E1E1E;    /* Fundos internos, sections, cards */
    --text-color: #9A9A9C;      /* Texto principal */
    --text-muted: #B3B3B3;      /* Texto secundário */
    --accent-color: #4F46E5;    /* Destaques, links, botões (azul-violeta) */
    --accent-hover: #6366F1;    /* Quando passa o mouse */
    --border-color: #2A2A2A;    /* Linhas ou bordas discretas */
    --theme-color: #F1F1F1;
    --primary-color: #F1F1F1;
}

:root[data-theme='light'] {
    --bg-color: #ffffff;
    --text-color: #1f2937;
    --bg-secondary: #f3f4f6;
    --text-muted: #6b7280;
    --accent-color: #4F46E5;
    --accent-hover: #3730A3;
    --border-color: #d1d5db;
    --theme-color: #1f2937;
    --primary-color: #1f2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: var(--accent-hover);
    font-weight: 600;
}

h1, h2, h3 {
    font-family: 'League Spartan', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    text-transform: uppercase;
    color: var(--primary-color)
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

p {
    text-align: justify;
    color: var(--text-color);
}

i {
    color: var(--theme-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;    
    flex-flow: row wrap;
}

.header__toggle {
        display: flex;
        justify-content: end;
    } 

.header__brand .brand__logo {
    width: 52px;
    height: inherit;
    border-radius: 50%;
}

#toggleTheme {
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease-in-out, .9s;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding-top: .5rem;
    position: fixed;
    bottom: 0;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: .2rem;
}

.menu__link.active .menu__icon, 
.menu__link.active .menu__text,
.menu__link:hover .menu__icon, 
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
} 

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: .75rem;
    text-transform: uppercase;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 2rem;
}

.menu--social {
    gap: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    padding: 0.875rem 1rem;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-color)
}

.btn--primary span {
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
    padding-bottom: 4rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--text-color);
}

.main__content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main__content2 iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/9;
    border: none;
    border-radius: .5rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6.25rem 1rem 2rem 1rem;
    background: var(--bg-secondary);
    margin-top: -5.5rem;
    gap: 1.25rem;

}

.skills h2 {
    font-size: 2rem;
    text-transform: none;
}

.skills__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: .5rem;
}

.skills__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--text-muted);
    border-radius: 50%;
}

.skills__logo {
    height: 3rem;
}

footer {
    width: 100%;
    background: var(--bg-secondary);
    color: var(--text-muted);
    margin-bottom: 4rem;
}

footer P {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        padding: .5rem 6rem;
        background: var(--bg-color);
    }

    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }

    h1 {
        font-size: 4rem;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 6rem 0rem 6rem;

    }

    main {
        margin-top: 92px;
    }
}

@media (min-width: 1200px) {
    main {
        padding: 2rem 6rem 2rem;
    }
    .main__content1 .btn {
        width: auto;
    }

    .skills {
        flex-direction: row;
        justify-content: space-between;
        padding: 7rem 12rem 4rem;
    }

    .skills h2 {
        font-size: 3.5rem;
        width: 40%;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }

    p {
        font-size: 1.5rem;
    }

    .header {
        padding: 1rem 15rem;
    }

    main {
        padding: 7rem 15rem 3rem;
    }

    .skills {
        padding: 6rem 15rem 3rem;
    }

    .skills__title span {
        opacity: 0;
        transform: translateY(20px);
        display: inline-block;
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .skills__title.visible span {
        opacity: 1;
        transform: translateY(0);
    }

    .skills__title.visible span:nth-child(1) { transition-delay: 0.3s; }
    .skills__title.visible span:nth-child(2) { transition-delay: 0.6s; }
    .skills__title.visible span:nth-child(3) { transition-delay: 0.9s; }
    .skills__title.visible span:nth-child(4) { transition-delay: 1.2s; }
    .skills__title.visible span:nth-child(5) { transition-delay: 1.5s; }
    .skills__title.visible span:nth-child(6) { transition-delay: 1.8s; }    

    .skills__item {
        opacity: 0;
        transform: translateX(100px);
        transition: transform 0.8s ease, opacity 0.8s ease;
    }

    .skills__item.visible {
        opacity: 1;
        transform: translateX(0);
    }

    .skills__item:nth-child(1) { transition-delay: 0.3s; }
    .skills__item:nth-child(2) { transition-delay: 0.6s; }
    .skills__item:nth-child(3) { transition-delay: 0.9s; }
    .skills__item:nth-child(4) { transition-delay: 1.2s; }

}
